@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

header nav li {
    list-style-type: none;
}

header nav li a {
    text-decoration: none;
    color: #000;
}

header nav li a:hover {
    text-decoration: underline #3178e2 4px;
    text-underline-offset: 10px;
}

.sep {
    padding: 5px;
    background-color: #c6c6c62d;
}

/* .main-img1 {
    padding: 6px;
} */

.main-img1 img {
    width: 100%;
    height: 72vh;
    object-fit: cover;
}

header .logo1 img {
    width: 20vw;
}

main .tagL p {
    font-size: 33.25px;
    font-weight: 300;
    line-height: 46.75px;
    position: relative;
    top: 50px;
    left: 12vw;
}

main .tagL {
    width: 80vw;
    height: 45vh;
}

main .underline {
    text-decoration: underline #2251FF 2px;
    text-underline-offset: 10px;
}

main .underline:hover {
    background-color: #2251FF;
    color: #fff;
    transition: all ease-in-out 0.6s;
    /* padding: 4px; */
}

.sep2 {
    background-color: #c6c6c66b;
    padding: 3px;
    width: 85vw;
    position: relative;
    left: 7vw;
}

main .hwy p {
    font-size: 19.125px;
    line-height: 29.75px;
    font-weight: 300;
    position: relative;
    top: 50px;
    left: 12vw;
}

main .hwy {
    width: 80vw;
    height: 43vh;
}

main .hwy .hok {
    font-size: 17px;
    font-weight: 700;
    line-height: 25.5px;
    padding: 15px 0;
}